.showdown-plugin, .showdown-plugin * {
	box-sizing: border-box;
}

.showdown-plugin p {
	margin: 10px 0 !important;
}

.showdown-plugin .competition {
	clear: both;
	padding-bottom: 30px;
	margin: 30px auto;
	border-bottom: 1px solid #ccc;
}

.showdown-plugin .competition:after {
	content: "";
	display: table;
	clear: both;
}

.showdown-plugin div.competitor {
	width: 33.3333333333333333333%;
	float: left;
	padding: 0 10px;
}

.showdown-plugin img.competitor {
	cursor: pointer;
}

.showdown-plugin .votes {
	list-style: none;
	margin: 0;
	line-height: 0;
}

.showdown-plugin .votes > li {
	margin: 0;
	float: left;
	width: 12.5%;
}

.showdown-plugin .votes > li img {
	height: auto;
	border-radius: 0;
}
